@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
body {
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace !important;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #313131;
  text-align: left;
  overflow-x: hidden !important;
  margin: auto !important; }

h1,
h2,
h3,
h4 {
  margin: 0 0 15px;
  padding: 0;
  font-weight: normal; }

h1 {
  font-size: 500%; }

h2 {
  font-size: 210%; }

h3 {
  font-size: 150%; }

p {
  margin: 0 0 10px; }

a {
  color: #222; }

/* ________________________________________________________ */
.rtl {
  direction: rtl; }

.clear {
  clear: both;
  display: block; }

.header-wrapper {
  background: white;
  position: relative;
  width: 100%;
  height: 270px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 35px;
  margin: 0 auto 15px;
  overflow: hidden; }

#title {
  margin: 0 0 16px;
  padding: 0 0 16px;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
  line-height: 20px; }
  #title span {
    font-weight: bold; }
  #title span:last-child {
    font-size: 14px;
    font-weight: 100;
    text-transform: lowercase; }

#subtitle {
  color: #313131;
  font-size: 20px;
  margin: 0;
  font-weight: 100;
  letter-spacing: 4px; }

#credit {
  margin-bottom: 20px;
  font-size: 11px;
  color: #999;
  text-align: center; }

#credit a {
  color: #999; }

p label {
  float: left;
  margin-right: 10px;
  min-width: 50px; }

p label span.colon {
  float: right; }

p span.value {
  float: left;
  width: 70%;
  display: block; }

.section {
  margin-bottom: 40px; }

.item {
  margin: 0 0 20px; }

.basic-info {
  padding: 0 0 0 140px; }

.basic-info p {
  float: left;
  width: 48%;
  margin: 0; }

.basic-info p.full {
  width: 100%;
  float: none; }

.basic-info .r {
  float: right; }

/* education _____________________________ */
.section .title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px; }

.section h3 span.l,
.section span.r {
  width: 49%;
  float: left; }

.section span.r {
  float: right;
  text-align: right;
  font-size: 14px; }

.job_title {
  float: right;
  display: block;
  width: 100%; }

.school {
  float: right;
  display: block;
  width: 100%; }

.section-education .school,
.section-work .job_title {
  display: block;
  margin: 5px 0; }

/* ___ photo ___ */
#photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto; }

#photo img {
  width: 200px;
  object-fit: cover;
  border-radius: 300px;
  height: 200px; }

.header.photo .basic-info {
  float: none;
  padding: 0; }

@media screen and (max-width: 950px) {
  body {
    background: #fff; }

  #main {
    box-shadow: none;
    padding: 5px; } }
.subtitles {
  margin-bottom: 15px; }

ul {
  padding-left: 0;
  list-style-type: none; }
  ul li:before {
    font-family: FontAwesome;
    content: '\f096';
    margin-right: 10px;
    color: #2F2F2F;
    font-size: 8px; }

.quote {
  color: #666; }

/**
 * Horizontal Type Line Behind Text
 * Inspired by this discussion @ CSS-Tricks: http://css-tricks.com/forums/topic/css-trick-for-a-horizontal-type-line-behind-text/#post-151970
 * Available on jsFiddle: http://jsfiddle.net/ericrasch/jAXXA/
 * Available on Dabblet: http://dabblet.com/gist/2045198
 * Available on GitHub Gist: https://gist.github.com/2045198
 */
h2 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #2F2F2F;
  letter-spacing: -2px; }
  h2 span {
    font-size: 14px;
    font-weight: 200; }

h2.background {
  position: relative;
  z-index: 1; }
  h2.background:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  h2.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px; }

h2.double:before {
  /* this is just to undo the :before styling from above */
  border-top: none; }

h2.double:after {
  border-bottom: 1px solid blue;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1; }

h2.no-background {
  position: relative;
  overflow: hidden; }
  h2.no-background span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px; }
    h2.no-background span:before, h2.no-background span:after {
      content: '';
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid red; }
    h2.no-background span:before {
      right: 100%; }
    h2.no-background span:after {
      left: 100%; }

h2.no-span {
  display: table;
  white-space: nowrap; }
  h2.no-span:before, h2.no-span:after {
    border-top: 1px solid #2F2F2F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  h2.no-span:before {
    right: 1.5%; }
  h2.no-span:after {
    left: 1.5%; }

.quote {
  color: #2F2F2F;
  font-weight: 200;
  background: rgba(255, 255, 255, 0.38);
  width: 100%;
  margin: 20px 0 0;
  padding: 5px 0; }

span {
  letter-spacing: 0; }

p {
  font-weight: 200;
  line-height: 1.5;
  font-size: 14px; }

/* Styles for Accordion */
.toggle:last-child {
  border-bottom: 1px solid #dddddd; }
.toggle .toggle-title {
  position: relative;
  display: block;
  margin-bottom: 6px; }
  .toggle .toggle-title h3 {
    font-size: 20px;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-weight: 200; }
.toggle .toggle-inner {
  padding: 7px 25px 10px;
  display: none;
  margin: -7px 0 6px; }
  .toggle .toggle-inner div {
    max-width: 100%; }
.toggle .toggle-title .title-name {
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace !important;
  text-transform: lowercase;
  display: block;
  padding: 25px 25px 14px;
  cursor: pointer; }
.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px; }
.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px; }
.toggle .toggle-title i:after {
  content: 'unfold this method';
  float: right;
  color: #afafaf; }
.toggle .toggle-title.active i:after {
  content: 'fold this method';
  float: right;
  color: #444; }

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */ }

.avatar {
  float: right;
  padding: 5px;
  background: #fff;
  border: 1px solid #999999;
  width: 30%;
  max-width: 180px;
  position: absolute;
  top: 20px;
  right: 20px; }

.avatar-2 {
  float: right;
  padding: 5px;
  background: #fff;
  margin: 0 30px;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 30%;
  max-width: 150px;
  position: absolute;
  top: 20px;
  right: 170px;
  z-index: -1; }

.social-icons li {
  list-style-type: none;
  float: left;
  font-size: 50px;
  margin-right: 20px;
  color: white; }

.social-icons li:before {
  content: ''; }

.icons {
  margin-top: 20px; }

* {
  border-radius: 0 !important; }

/*# sourceMappingURL=style.css.map */
